.select_all_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 17px;
}

.close_modal{
    
    height: 20px;
    width: 20px;
    float: right;
    cursor: pointer;
}

.title{
    margin-top: 26px;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #041E50;
    font-weight: 400;
}

.price{
    margin-top: 21px;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    color: #041E50;
}

.description{
    margin-top: 17.7px;
    font-size: 10px;
    letter-spacing: 0.05em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #222222;
}

.see_details{
    margin-top: 25.29px;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: #041E50;
}