@media screen and (max-width:500px){
    .select_all_section{display: none;}
}

.select_all_section{
    display: flex;

    margin: 0px 5% 17px 5%;
}

.select_product_types{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #BDBDBD;
    height: 40px;
    font-size: 16px;
    font-family: Poppins-Medium;
    color: #3B3B3B;
}


